<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Debug testEvil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>PureEvilKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PureEvilKitTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PureEvilTester Debug.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PureEvilTester.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>libevil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>testEvil.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>054A290016AB71D400C2B9B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>054A293116AB85D100C2B9B6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAC1CA11CBD70D3004B6BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCAC1CAA1CBD70D4004B6BC5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCCAD0101CE4BF3B008BFB08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FCCAD0281CE4BF3C008BFB08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
